In [30]:
import pandas as pd

In [31]:
%pwd

'/home/lucas/Projects/plutoshift_flow'

In [50]:
weather = pd.read_csv('flow data/flow data/weather.csv')
flow = pd.read_csv('flow data/flow data/influent_flow.csv')
usgs = pd.read_csv('flow data/flow data/usgs_data.csv', sep = '\t')

In [51]:
weather.head()

,Date,rain,snow,accum,temp,humidity,cloud,app_temperature
0,2012-12-15 08:00:00,0.0,0.0,0.0,5.95,0.89,0.08,5.95
1,2012-12-15 09:00:00,0.0,0.0,0.0,5.66,0.92,0.09,5.66
2,2012-12-15 10:00:00,0.0,0.0,0.0,5.46,0.91,0.09,5.46
3,2012-12-15 11:00:00,0.0,0.0,0.0,4.82,0.92,0.06,4.82
4,2012-12-15 12:00:00,0.0,0.0,0.0,4.61,0.93,0.03,4.61

In [52]:
flow.head()

                  Date  INF_FLOW
0  2013-01-15 00:00:00  9.589273
1  2013-01-15 01:00:00  9.272833
2  2013-01-15 02:00:00  8.861329
3  2013-01-15 03:00:00  9.193454
4  2013-01-15 04:00:00  9.129482

In [53]:
usgs.head()

  agency_cd\tsite_no\tdatetime\ttz_cd\t14747_00060\t14747_00060_cd\t14748_00065\t14748_00065_cd
0               5s\t15s\t20d\t6s\t14n\t10s\t14n\t10s
1  USGS\t11164500\t2013-01-01 00:00\tPST\t44.1\tA...
2  USGS\t11164500\t2013-01-01 00:15\tPST\t44.1\tA...
3  USGS\t11164500\t2013-01-01 00:30\tPST\t44.1\tA...
4  USGS\t11164500\t2013-01-01 00:45\tPST\t43.2\tA...